<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>127.0.0.1</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" crossorigin="anonymous">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Radio+Canada">
    </head>
    <body>
        <div class="background"></div>

        <div class="outer-div">
            <div class="inner-div">
                <div class="front">
                    <div class="front__bkg-photo"></div>
                    <div class="front__face-photo"></div>
                    <div class="front__text">
                        <h3 class="front__text-header"> {{ user['user_name'] }} </h3>
                        <p class="front__text-para"><i class="fas fa-solid fa-at"></i> {{ user['email_address'] }} </p>
                        <p class="front__text-para"><i class="fas fa-solid fa-phone"></i> {{ user['phone_number'] }} </p>
                        <a href="{{ url_for('update_phone_number', username=user['user_name'])}}" class="front__text-para"> Editar teléfono </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>